<div class="row">
  <div class="card col-sm-6 col-md-4">
  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Call_of_Duty_Black_Ops_4_official_box_art.jpg/220px-Call_of_Duty_Black_Ops_4_official_box_art.jpg" height="200px" width="100px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="d-flex">
      <div>$12</div>
      <a href="#" class="btn btn-primary btn-sm ml-auto pl-4 pr-4">Buy</a>
    </div>
  </div>
</div>

<div class="card col-sm-6 col-md-4 mx-auto">
  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Call_of_Duty_Black_Ops_4_official_box_art.jpg/220px-Call_of_Duty_Black_Ops_4_official_box_art.jpg" height="200px" width="100px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="d-flex">
      <div>$12</div>
      <a href="#" class="btn btn-primary btn-sm ml-auto pl-4 pr-4">Buy</a>
    </div>
  </div>
</div>

<div class="card col-sm-6 col-md-4 mx-auto">
  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/thumb/1/1c/Call_of_Duty_Black_Ops_4_official_box_art.jpg/220px-Call_of_Duty_Black_Ops_4_official_box_art.jpg" height="200px" width="100px" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <div class="d-flex">
      <div>$12</div>
      <a href="#" class="btn btn-primary btn-sm ml-auto pl-4 pr-4">Buy</a>
    </div>
  </div>
</div>
</div>